// src\styles\layout\_sidebar.scss
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mx;
@use '../functions/breakpoints' as bp;

#t-sidebar {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100vh;

    .p-calendar-search {
        overflow-y: hidden;
        height: calc(100% - 0.5rem - var(--p-button-icon-only-width));
    }
}

.filter-button-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

#toto-calendar-toggle {
    .p-accordionheader {
        padding: 0.75rem 1rem;
        font-weight: 400;
        color: var(--p-text-color-inversed, #ffffff);
        gap: 0.5rem;

        > span {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        i {
            font-style: normal;
            font-weight: 500;
        }
    }

    .p-accordioncontent-content {
        padding: 0.5rem;
        background-color: var(--p-zinc-800);
        gap: 0.3rem;
        display: flex;
        flex-wrap: wrap;
    }

    .p-togglebutton {
        padding: 0.25rem 0.5rem;
        font-size: 0.75em;
    }
}

#t-calendar-search-button {
    width: 100%;
}

.p-drawer-full .p-drawer {
    .p-drawer-header {
        padding: 0.75rem var(--p-drawer-header-padding);
    }

    .p-drawer-content {
        padding: 0 1rem 1rem;
    }
}

.p-drawer-right .p-drawer {
    width: 500px !important;
    .p-drawer-header {
        padding: 0.75rem var(--p-drawer-header-padding);
    }

    .p-drawer-content {
        overflow-y: hidden;
        width: max-content;
        margin-right: 0;
    }
}

#toto-search {
    .p-drawer-header {
        position: absolute;
        right: 0;
    }
    .p-drawer-content {
        width: 100%;
        padding-top: 1em;
    }
    .toto-column-company {
        width: 0.5rem;
    }
}

#toto-search-datatable {
    .p-datatable {
        &-thead {
            > tr {
                > th {
                    font-size: 0.75rem;
                    padding-left: 0;
                    padding-right: 0;

                    @include bp.media-breakpoint-up('lg') {
                        font-size: 0.6rem;
                        svg {
                            width: 12px;
                        }
                    }

                    .p-button {
                        padding: 0;
                        width: auto;
                    }

                    .pi-filter-fill {
                        font-size: 0.75rem;

                        @include bp.media-breakpoint-up('lg') {
                            font-size: 0.5rem;
                        }
                    }
                }
            }
        }

        &-column-header-content {
            justify-content: center;
            gap: 0.3rem;
            @include bp.media-breakpoint-up('lg') {
                gap: 0.2rem;
            }
        }

        &-tbody > tr > td {
            padding: 0.25rem;
            font-size: 0.875rem;
            line-height: 1.5;
            text-align: center;
            &.p-datatable-frozen-column {
                text-align: left;
            }

            @include bp.media-breakpoint-up('lg') {
                font-size: 0.7rem;
            }
        }

        &-row-selected {
            > td,
            .p-datatable-frozen-column {
                background-color: var(--p-text-color-inversed, #ffffff);
                color: var(--p-text-color-inversed, #000000);
                font-weight: 700;
            }
            .toto-column-bookmark .pi-bookmark-fill {
                color: gold !important;
            }
        }
    }

    .toto-column {
        &-bookmark {
            width: 2rem;

            @include bp.media-breakpoint-only('xs') {
                width: 3rem;
            }
            align-items: center;
            justify-content: center;
            > * {
                align-self: center;
                justify-self: center;
            }
            .p-togglebutton {
                padding: 0;
                border: 0;
                &-label {
                    display: none;
                }
            }
        }
        &-ticker {
        }

        &-company {
            width: 2.5rem;

            @include bp.media-breakpoint-down('md') {
                width: 3rem;
            }
        }

        &-frequency {
            width: 3rem;

            @include bp.media-breakpoint-down('md') {
                width: 3rem;
            }
        }

        &-group {
            width: 3rem;

            @include bp.media-breakpoint-down('md') {
                width: 7rem;
            }

            @include bp.media-breakpoint-down('md') {
                .p-tag {
                    font-size: 0.65rem;
                }
            }
        }
    }
}

.company-logo-wrapper {
    /* 정사각형 비율 유지를 위한 스타일 */
    margin: 0 auto;
    max-width: 2rem;
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* 너비와 동일한 높이를 만듦 (1:1 비율) */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    overflow: hidden; /* 로고가 튀어나가는 것을 방지 */
    border-radius: 0.5rem;
    aspect-ratio: 1 / 1; /* 1:1 비율 유지 */
}
// .company-logo-wrapper.bg {
//     background: var(--p-text-color-inversed, #ffffff);
// }

.company-logo,
.company-name-fallback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.company-logo {
    /* 로고가 찌그러지지 않고 컨테이너 안에 맞게 표시되도록 함 */
    object-fit: contain;
    padding: 4px; /* 로고 주변에 약간의 여백 */
}

.company-name-fallback {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
}
