@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mx;
@use '../functions/breakpoints' as bp;

#t-sidebar {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;

    .p-calendar-search {
        overflow-y: hidden;
        height: calc(100% - 0.5rem - var(--p-button-icon-only-width));
    }
}

.filter-button-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

#toto-calendar-toggle {
    .p-accordionheader {
        padding: 0.75rem 1rem;
        font-weight: 400;
        color: #fff;
        gap: 0.5rem;

        > span {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        i {
            font-style: normal;
            font-weight: 500;
        }
    }

    .p-accordioncontent-content {
        padding: 0.5rem;
        background-color: var(--p-zinc-800);
        gap: 0.3rem;
        display: flex;
        flex-wrap: wrap;
    }

    .p-togglebutton {
        padding: 0.25rem 0.5rem;
        font-size: 0.75em;
    }
}

#t-calendar-search-button {
    width: 100%;
}

.p-drawer-full .p-drawer {
    .p-drawer-header {
        padding: 0.75rem var(--p-drawer-header-padding);
    }

    .p-drawer-content {
        padding: 0 1rem 1rem;
    }
}

.p-drawer-right .p-drawer {
    width: 500px !important;
    .p-drawer-header {
        padding: 0.75rem var(--p-drawer-header-padding);
    }

    .p-drawer-content {
        overflow-y: hidden;
        width: max-content;
        margin-right: 0;
    }
}

#toto-search {
    .p-drawer-content {
        margin-left: -1rem;
        margin-right: -1rem;
    }
}

#toto-search-datatable {
    .p-datatable {
        &-thead {
            > tr {
                > th {
                    font-size: 0.75rem;
                    padding-left: 0;
                    padding-right: 0;

                    @include bp.media-breakpoint-up('lg') {
                        font-size: 0.6rem;
                        svg {
                            width: 12px;
                        }
                    }

                    .p-button {
                        padding: 0;
                        width: auto;
                    }

                    .pi-filter-fill {
                        font-size: 0.75rem;

                        @include bp.media-breakpoint-up('lg') {
                            font-size: 0.5rem;
                        }
                    }
                }
            }
        }

        &-column-header-content {
            justify-content: center;
            gap: 0.3rem;
            @include bp.media-breakpoint-up('lg') {
                gap: 0.2rem;
            }
        }

        &-tbody > tr > td {
            padding: 0.25rem;
            font-size: 0.875rem;
            line-height: 1.5;
            text-align: center;
            &.p-datatable-frozen-column {
                text-align: left;
            }

            @include bp.media-breakpoint-up('lg') {
                font-size: 0.7rem;
            }
        }

        &-row-selected {
            > td,
            .p-datatable-frozen-column {
                background-color: #fff;
                color: #000;
                font-weight: 700;
            }
            .toto-column-bookmark .pi-bookmark-fill {
                color: gold !important;
            }
        }
    }

    .toto-column {
        &-bookmark {
            align-items: center;
            justify-content: center;
            > * {
                align-self: center;
                justify-self: center;
            }
            .p-togglebutton {
                padding: 0;
                border: 0;
                &-label {
                    display: none;
                }
            }
        }
        &-ticker {
            width: 4rem;

            @include bp.media-breakpoint-up('lg') {
                width: 3rem;
            }
        }

        &-company {
        }

        &-frequency {
            width: 5rem;
        }

        &-group {
            width: 4rem;

            @include bp.media-breakpoint-up('lg') {
                .p-tag {
                    font-size: 0.65rem;
                }
            }
        }
    }
}
