// src\styles\components\_products.scss
.products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

@media (max-width: 640px) {
    .products-header {
        flex-direction: column;
        gap: 0.5rem;

        .search-field {
            width: 100%;
        }
    }
}

.products-title {
    font-size: 1rem;
    font-weight: 500;
    color: var(--p-surface-0);
}

.products-table-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.products-table {
    width: 100%;
    color: var(--p-surface-0);
}

.products-table-mask {
    backdrop-filter: blur(4px) !important;
}

.products-table-loading {
}

.products-search {
    font-size: 0.875rem;
    padding: 0.5rem;
}

@media (min-width: 768px) {
    .products-search {
        width: auto !important;
    }
}

@media (max-width: 767px) {
    .products-search {
        width: 100% !important;
    }
}
