// 전체 메뉴
.p-drawer-mask.p-drawer-right .p-drawer {
    max-width: 100%;
    width: 75%;

    @media (max-width: 640px) {
        width: 100%;
    }

    table {
        text-align: center;

        tr {
            >*:nth-child(1) {
                text-align: center;
            }

            >*:nth-child(2) {
                text-align: center;
            }

            >*:nth-child(3) {
                text-align: center;
            }

            >*:nth-child(4) {
                text-align: center;
            }
        }
    }

    .p-datatable-column-header-content {
        justify-content: center;
    }
}

// 차트
#p-chart {
    width: 100%;
    aspect-ratio: 16 / 9;

    >div,
    canvas {
        width: 100%;
        height: 100%;
    }

}

// 주식 정보
#tickerInfo {
    padding: 0;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}

.tickerInfo {
    &__header {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__brand {
        color: var(--p-primary-500);
        line-height: 1.25;
        font-weight: 600;
        font-size: 1.25rem;
    }

    &__title {
        margin: 0;
        padding: 0;
        font-weight: 700;
        line-height: 1.25;
        font-size: 2.25rem;
    }

    &__status {
        .layout-card {
            border-color: color-mix(in srgb, var(--p-primary-200) 50%, transparent);
            background-color: color-mix(in srgb, var(--p-primary-50) 50%, transparent);
            text-align: center;
            justify-content: center;
        }

        .stats-header {
            font-weight: 500;
            font-size: 1.875rem;
            justify-content: center;
        }

        .stats-title {
            font-size: 1.125rem;
            color: var(--p-primary-500);
        }
    }

}