cat <<EOT > .gitignore
# Python
venv/
__pycache__/
*.pyc

# Node.js
stock/node_modules/
stock/dist/
.npm/

# Chrome Profile & Screenshots
stock/chrome_profile/
stock/error_screenshots/

# IDE & OS files
.vscode/
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
EOT