// stock/src/styles/base/_globals.scss
@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mx;
@use "../functions/breakpoints" as bp;

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: vars.$font-family-base;
    font-optical-sizing: auto;
    font-variation-settings: normal;
    font-weight: 400;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--p-surface-950);
    color: vars.$text-color;
}

@include bp.media-breakpoint-between('xs', 'sm') {
    html {
        font-size: 12px;
    }
}
@include bp.media-breakpoint-between('sm', 'lg') {
    html {
        font-size: 14px;
    }
}
@include bp.media-breakpoint-up('lg') {
    html {
        font-size: 16px;
    }
}
