@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mx;
@use '../functions/breakpoints' as bp;

#t-auth {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;

    .p-card {
        height: 100%;
    }

    .t-auth {
        &-icon {
            width: auto;
            height: auto;
            padding: 1.5rem;
            aspect-ratio: 1 / 1;
            opacity: 1;
            span {
                font-size: 2rem;
            }
        }
    }
    .p-button-outlined {
        text-decoration: none;
    }
    .p-button-text {
        text-decoration: none;
    }
}
