@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mx;
@use "../functions/breakpoints" as bp;

@import "primeicons/primeicons.css";

.layout {
    &-container {
        background-color: var(--p-surface-950);
        color: var(--p-surface-0);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include bp.media-breakpoint-down('lg') {
            padding: 0;
        }
    }

    &-grid {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: vars.$max-width;
        width: 100%;
        margin: 0 auto;

        @include bp.media-breakpoint-down('lg') {
            gap: 0.5rem;
        }

        @include bp.media-breakpoint-up('lg') {
            gap: 1.5rem;
        }

        &--row {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            width: 100%;
        }

    }

    &-card {
        background-color: var(--p-surface-900);
        color: var(--p-surface-0);
        padding: 1.5rem;
        border-radius: 0.5rem;
        border: 1px solid var(--p-surface-700);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.col-item-2 {
    width: 50%;
}


// https://verona.primevue.org/
// https://avalon.primevue.org/

#t-layout {
    position: relative;
    display: flex;
    height: 100dvh;
    flex-direction: row;
    overflow: hidden;
    padding: .5rem;
    -tw-bg-opacity: 1;
    background-color: var(--toto-body-bg);
    color: var(--text-color);
    gap: 1rem;
}

#t-grid {
    margin: 0 auto;
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1 1 0%;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1.5rem;
    background-color: var(--p-surface-600);
    --tw-shadow: var(--shadow-stroke);
    --tw-shadow-colored: var(--shadow-stroke);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s;
}

#t-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .75rem;
    border-bottom: 1px solid var(--p-surface-700);
    ;
    padding: 1rem;
}

#t-breadcrumb {
    background: inherit;
    padding: 0;

    .p-breadcrumb-list {
        display: flex;
        max-height: 4rem;
        align-items: center;
        gap: .5rem;
        padding: .6rem 1rem .6rem 1.5rem;
        text-transform: uppercase;
    }

    .p-breadcrumb-item {
        .pi {
            color: #fff !important;
        }
    }

    .p-breadcrumb-home-item {}

    .p-breadcrumb-item-link {
        gap: inherit;
        color: #fff
    }

    .p-breadcrumb-separator {}

    .p-breadcrumb-item-icon {
        color: #fff
    }
}

#t-topbar {
    gap: 1rem;

    @include bp.media-breakpoint-only('xs') {
        gap: .5rem;
    }

    align-items: center;

    button {
        aspect-ratio: 1 / 1 !important;
        width: 2.25rem;
        height: 2.25rem;
        align-items: center;
        justify-content: center;
        border-radius: .375rem;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        transition-duration: .3s;
    }
}

#t-content {
    padding: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 1 0%;

    @include bp.media-breakpoint-down('lg') {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

    }
}

#t-sidebar {
    width: 295px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;

    .p-calendar-search {
        overflow-y: hidden;
        height: calc(100% - 0.5rem - var(--p-button-icon-only-width));

        &-content {
            height: 100%;
        }
    }
}

#t-calendar-search-button {
    width: 100%;
}

@include bp.media-breakpoint-only('xs') {}

// 641 이상
@include bp.media-breakpoint-up('sm') {
    #t-layout {}
}