@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mx;
@use "../functions/breakpoints" as bp;

@import "primeicons/primeicons.css";

.layout {
    &-container {
    background-color: var(--p-surface-950);
    color: var(--p-surface-0);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include bp.media-breakpoint-down('lg') {
            padding: 0;
        }
    }
    &-grid {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        @include bp.media-breakpoint-down('lg') {
            gap: 0.5rem;
        }
        @include bp.media-breakpoint-up('lg') {
            gap: 1.5rem;
        }
        &--row {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            width: 100%;
        }

    }
    &-card {
        background-color: var(--p-surface-900);
        color: var(--p-surface-0);
        padding: 1.5rem;
        border-radius: 0.5rem;
        border: 1px solid var(--p-surface-700);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.col-item-2 {
    width: 50%;
}