@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mx;
@use "../functions/breakpoints" as bp;

@import "primeicons/primeicons.css";

#t-layout {
    position: relative;
    display: flex;
    height: 100dvh;
    flex-direction: row;
    overflow: hidden;
    padding: .5rem;
    -tw-bg-opacity: 1;
    background-color: var(--toto-ground);
    color: var(--text-color);
    gap: 1rem;
}

#t-grid {
    margin: 0 auto;
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1 1 0%;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1.5rem;
    background-color: var(--toto-body-bg);
    // background-color: color-mix(in srgb, var(--p-zinc-950) calc(100% * var(--tw-bg-opacity, 1)), transparent);

    --tw-shadow: var(--shadow-stroke);
    --tw-shadow-colored: var(--shadow-stroke);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s;
}

#t-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .75rem;
    padding: 1rem;
}

#t-breadcrumb {
    background: inherit;
    padding: 0;

    .p-breadcrumb-list {
        display: flex;
        max-height: 4rem;
        align-items: center;
        gap: .5rem;
        padding: .6rem 1rem .6rem 1.5rem;
        text-transform: uppercase;
    }

    .p-breadcrumb-item {
        .pi {
            color: #fff !important;
        }
    }

    .p-breadcrumb-home-item {}

    .p-breadcrumb-item-link {
        gap: inherit;
        color: #fff
    }

    .p-breadcrumb-separator {}

    .p-breadcrumb-item-icon {
        color: #fff
    }
}

#t-topbar {
    gap: 1rem;
    align-items: center;

    @include bp.media-breakpoint-only('xs') {
        gap: 0;
    }


    button {
        aspect-ratio: 1 / 1 !important;
        width: 2.25rem;
        height: 2.25rem;
        align-items: center;
        justify-content: center;
        border-radius: .375rem;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        transition-duration: .3s;
    }
}

#t-content {
    padding: 0 1rem 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 1 0%;

    @include bp.media-breakpoint-down('lg') {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

    }
}

#t-sidebar {
    width: 295px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;

    .p-calendar-search {
        overflow-y: hidden;
        height: calc(100% - 0.5rem - var(--p-button-icon-only-width));
    }
}

#toto-filter {}

#toto-calendar-toggle {
    .p-accordionheader {
        padding: 0.75rem 1rem;
        font-weight: 400;
        color: #fff;
        gap: .5rem;

        >span {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        i {
            font-style: normal;
            font-weight: 500;
        }
    }

    .p-accordioncontent-content {
        padding: 0.5rem;
        background-color: var(--p-zinc-800);
        gap: .3rem;
        display: flex;
        flex-wrap: wrap;
    }

    .p-togglebutton {
        padding: 0.25rem 0.5rem;
        font-size: .75em;
    }
}

#t-calendar-search-button {
    width: 100%;
}

#t-calendar {
    background: var(--p-zinc-800);
    color: #fff;
    overflow: hidden;
    height: 100%;

    .p-card-header {
        padding: 1rem 1rem 0;
        text-align: center;
    }

    .p-card-title {
        display: flex;
        justify-content: center;
    }

    .p-card-body {
        height: 100%;
        padding: 0 1rem 1rem;
        gap: 0;
    }

    .p-card-content {
        height: 100%;
    }

    .fc {
        height: 100%;

        &-list {
            border: 0;

            &-event {
                &-time {
                    display: none !important;
                }

                &-graphic {
                    vertical-align: middle;
                }

                &-title {
                    font-size: 0.875rem;
                    font-weight: 500;
                    color: #fff;
                    vertical-align: middle;
                    padding-top: 0;
                    padding-bottom: 0;

                    >[class^='freq-'] {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                    .actions {
                        button {
                            padding: .5rem;
                            width: 2rem;
                            height: 2rem;
                        }
                    }

                    .p-button-text {
                        position: static;
                    }
                }

                &:hover td {
                    background-color: inherit
                }
            }

            &-table {
                td {
                    border: 0;
                    line-height: 1;
                }
            }

            &-day {
                >* {
                    background-color: transparent;
                    border-color: transparent;
                }

                &-cushion {
                    background-color: var(--p-zinc-950);
                    color: #fff;
                    border-radius: 8px;
                    ;
                }
            }
        }

        .freq {
            &-weekly {
                color: #3b82f6;
                /* blue-500 */
            }

            &-monthly {
                color: #22c55e;
                /* green-500 */
            }

            &-quarterly {
                color: #f97316;
                /* orange-500 */
            }

            &-every-4-week {
                color: #14b8a6;
                /* teal-500 */
            }

            &-default {
                color: #64748b;
                /* slate-500 */
            }
        }
    }


    /* 지급주기별 점(dot) 색상 정의 */
    .fc-direction-ltr .freq-weekly .fc-list-event-dot {
        border-color: #3b82f6;
        /* blue-500 */
    }

    .fc-direction-ltr .freq-monthly .fc-list-event-dot {
        border-color: #22c55e;
        /* green-500 */
    }

    .fc-direction-ltr .freq-quarterly .fc-list-event-dot {
        border-color: #f97316;
        /* orange-500 */
    }

    .fc-direction-ltr .freq-every-4-week .fc-list-event-dot {
        border-color: #14b8a6;
        /* teal-500 */
    }

    .fc-direction-ltr .freq-default .fc-list-event-dot {
        border-color: #64748b;
        /* slate-500 */
    }

}


.p-drawer-full .p-drawer {
    .p-drawer-header {}

    .p-drawer-content {
        padding: 0 1rem 1rem;
    }
}

#toto-search {
    .p-drawer-content {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .p-datatable {
        td {
            text-align: center;
        }

        &-thead {
            >tr {
                >th {
                    font-size: .75rem;

                    .p-button {
                        padding: 0;
                        width: auto;
                    }

                    .pi-filter-fill {
                        font-size: .75rem;
                    }
                }
            }
        }

        &-column-header-content {
            justify-content: center;
            gap: 0.3rem;
        }

        &-tbody>tr>td {
            padding: 0.25rem;
            font-size: 0.875rem;
            line-height: 1.5;
            text-align: center;
        }
        &-row-selected {
            > td,
            .p-datatable-frozen-column {
                background-color: #fff;;
                color: #000;
                font-weight: 700;
            }
        }


    }

    .toto-column {
        &-ticker {
            width: 4rem;
        }

        &-company {}

        &-frequency {
            width: 5rem;
        }

        &-group {
            width: 4rem;
        }
    }
}

.p-tag {
    &[data-p="mon"] {
        background: #a78bfa;
    }

    &[data-p="tue"] {
        background: #facc15;
    }

    &[data-p="wed"] {
        background: #14b8a6;
    }

    &[data-p="thu"] {
        background: #6366fa;
    }

    &[data-p="fri"] {
        background: #f472b6;
    }
}

@include bp.media-breakpoint-only('xs') {}

// 641 이상
@include bp.media-breakpoint-up('sm') {
    #t-layout {}
}