// stock/src/styles/components/_calculators.scss
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mx;
@use '../functions/breakpoints' as bp;

[id*='calculator'] {
    &.p-drawer {
        @include bp.media-breakpoint-only('xs') {
            width: 100vw !important;
        }
        @include bp.media-breakpoint-up('md') {
            width: 1200px !important;
            max-width: 100%;
        }
    }
    .p-drawer-header {
        // position: absolute;
        // right: 0;
        // top: 0;

        // @include bp.media-breakpoint-only('xs') {
        //     padding: 0;
        //     transform: translateY(-100%);
        // }
    }
    .p-drawer-content {
        padding: var(--toto-overlay-modal-padding-y) 1.5rem;
        height: 70vh !important;
        @include bp.media-breakpoint-up('sm') {
            max-height: 550px;
        }
        overflow-y: auto;

        @include bp.media-breakpoint-only('xs') {
        }

        @include bp.media-breakpoint-up('sm') {
            padding-top: 0;
            > .flex {
                gap: 2rem;
                > div {
                    width: 100%;
                    flex: 1 1 auto;
                }
            }
        }
        .p-selectbutton,
        .p-togglebutton {
            width: 100%;
        }
    }
    .p-drawer-title {
        font-size: 1rem;
    }

    .p-drawer-close-button {
        width: var(--toto-dialog-close-button);

        padding: 0;
        &.p-button-icon-only.p-button-rounded {
            height: var(--toto-dialog-close-button);
        }
    }
    .toto-range {
        border-radius: 0;
        > span {
            display: block;
            margin-top: 0.5em;
        }
    }
    .toto-reference-period,
    .toto-tax-apply {
        flex: 1 1 auto;
        .p-card-header label {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }
        .p-card-body {
            padding: 0.5em 0;
        }
    }
    .toto-calculator-result {
        .p-card-header {
            padding: 0;
        }
        .p-card-body {
            padding: 0;
        }
        table {
            width: 100%;
            text-align: center;
            th {
                background-color: var(--p-surface-800);
                padding: 0.5em;
                font-size: 0.7rem;
            }
            td {
                padding: 0;
                font-size: 0.7rem;
            }
        }
        .p-tag {
            font-size: 0.6rem;
        }
        .p-chart {
            width: 100%;
            @include bp.media-breakpoint-only('xs') {
                height: 70vw;
            }
            @include bp.media-breakpoint-between('sm', 'lg') {
                height: 40vw;
            }
            @include bp.media-breakpoint-up('lg') {
                height: 380px;
            }
        }
    }
}
#calculator {
    &-recovery {
    }
}
