// stock/src/styles/components/_calculators.scss
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mx;
@use '../functions/breakpoints' as bp;

#t-calculator {
    .p-card-body {
        padding: 0;
    }
    .p-tabpanels {
        padding: 0;
    }
    &-tabs {
        button {
            width: 50%;
        }
    }

    .p-selectbutton {
        width: 100%;
        > button {
            width: 100%;
        }
    }
    .p-togglebutton {
        padding-left: 0;
        padding-right: 0;
    }

    &-step {
        .p-step-header {
            width: 100%;
        }
        .p-step-title {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
    }

    &-return {
        label {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }
    .p-splitterpanel {
        padding: 0.5em;
    }
}
.t-calculator {
    &-result {
        width: 100%;

        table {
            width: 100%;
            text-align: center;
            th {
                font-size: 0.7rem;
            }
        }
        .p-chart {
            @include bp.media-breakpoint-only('xs') {
                height: 100vw;
            }
            @include bp.media-breakpoint-between('xs', 'lg') {
                height: 40vw;
            }
            @include bp.media-breakpoint-up('lg') {
                height: 380px;
            }
        }
    }
}
